* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: hsl(228, 12%, 48%);
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  gap: 20px;
}

.card {
  grid-column: 4 / span 6;
  grid-row: 4 / span 8;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}

.image {
  grid-column: 4 / span 3;
  grid-row: 4 / span 8;
  /* background: pink; */
  z-index: 2;
}

.bottle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px ;
}

.title {
  grid-column: 7 / span 3;
  grid-row: 5 / span 2;
  z-index: 3;
  color: hsl(212, 21%, 14%);
  align-self: end;
  padding: 0;
  line-height: 1;
  font-family: 'Fraunces', serif;
  position: relative;
  left: 7%;
  top: 20%;
  font-size: 1.2em;
  /* margin-top: 15px; */
}

.subtitle {
  grid-column: 7 / span 2;
  grid-row: 4;
  z-index: 4;
  text-transform: uppercase;
  letter-spacing: .35em;
  font-size: 0.8em;
  position: relative;
  left: 10%;
  top: 55%;
}

.blurb {
  grid-column: 7 / span 3;
  grid-row: 7 / span 2;
  z-index: 5;
  /* background-color: lightcoral; */
  font-size: 0.875em;
  width: 70%;
  line-height: 1.5em;
  position: relative;
  left: 7%;
  top: 20%;
}

.price {
  grid-column: 7 / span 3;
  grid-row: 9;
  z-index: 6;
  /* border: 1px solid red; */
  display: inline-flex;
  justify-self: center;
  align-items: center;
}

.sale {
  /* background: #000; */
  position: relative;
  left: -5%;
  top: 30%;
  margin-right: 25%;
  font-size: 2.5em;
}

body > div > div.price > h1 {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  /* display: inline; */
}

.og {
  text-decoration: line-through;
  /* background: #000; */
  position: relative;
  top: 30%;
  right: 18%;
  margin-right: 50px;
  /* display: inline; */
}

.button {
  grid-column: 7 / span 3;
  grid-row: 10 / span 2;
  z-index: 7;
  background: hsl(158, 36%, 37%);
  color: white;
  height: 50%;
  width: 85%;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 10px;
}

button {
  border: none;
}
